<div class="footer">
  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td class="content-block">
        <span class="footer-text">{{ footerText }}</span>
        <br>
        {{#if termsOfServiceUrl }}<a href="{{ termsOfServiceUrl }}" target="_blank">Terms of Service</a>{{/if}}
        {{#if termsOfServiceUrl }}{{#if privacyPolicyUrl }} | {{/if}}{{/if}}
        {{#if privacyPolicyUrl }}<a href="{{ privacyPolicyUrl }}" target="_blank">Privacy Policy</a>{{/if}}
      </td>
    </tr>
  </table>
</div>